<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itemfinder.midtermappdev">


    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!--suppress AndroidDomInspection -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
        android:supportsRtl="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:usesCleartextTraffic="true">

        <!-- Main App Entry -->
        <activity
            android:name=".LoginAndProfile.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add your activities -->
        <activity android:name=".LoginAndProfile.LoginActivity" android:exported="true" />
        <activity android:name=".LoginAndProfile.RegisterActivity" android:exported="true" />
        <activity android:name=".LoginAndProfile.ProfileActivity" android:exported="true" />
        <activity android:name=".LoginAndProfile.AdminLoginActivity" android:exported="true" />
        <activity android:name=".LoginAndProfile.MyClaimsActivity" android:exported="true" />


        <activity
            android:name=".HomeAndReport.HomeAndReportMainActivity"
            android:exported="false" />
        <!-- Process Claim Activity -->
        <activity
            android:name=".Find.Processclaim"
            android:exported="false" />
        <activity
            android:name=".Admin.MainActivity_admin"
            android:exported="false" />
        <activity
            android:name=".Admin.ui.dashboard.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.ui.claims.ClaimsActivity"
            android:exported="false" />
        <activity
            android:name=".LoginAndProfile.MyReportsActivity"
            android:exported="false" />
        <activity android:name=".Find.NotifActivity" />
        <!-- Firebase and Google Services -->

        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false" />

        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:exported="false"
            android:authorities="com.itemfinder.midtermappdev.firebaseinitprovider" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="CLOUDINARY_URL=cloudinary://918231765677369:**********@durqaiei1"/>


    </application>
</manifest>